@font-face {
  font-family: Metrickal;
  src: url(Metrickal-Regular.otf);
}
body {
  margin: 0;
  font-family: Metrickal, monospace;
  background-color: #000;
}
body > * {
  position: absolute;
}
#map {
  left: 0;
  top: 0;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
}
#log {
  left: 0;
  bottom: 0;
  width: 60vw;
  height: 40vh;
}
#combat {
  right: 0;
  top: 0;
  width: 40vw;
  height: 60vh;
}
#inventory {
  background-color: pink;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 40vh;
}
canvas {
  position: relative;
}
