@font-face {
	font-family: Metrickal;
	src: url(Metrickal-Regular.otf);
}

@w: 60;
@h: 60;

body {
	margin: 0;
	font-family: Metrickal, monospace;
	background-color: #000;

	& > * {
		position: absolute;
		transition: opacity 1000ms;
	}
}

.hidden {
	opacity: 0;
}

.inactive {
	opacity: 0.6;
}

@import "intro.less";
@import "map.less";
@import "inventory.less";
@import "combat.less";
@import "log.less";
